Repository thinkful-ei-emu/RAMbo-Tracker-client, pull requests merged in 2019-09, with the labels that each got.

#22 readme
  README.md
Labels: documentation, good first issue

#27 Dashboard
  package-lock.json
  package.json
  src/components/App/App.js
  src/components/Symptom/Symptom.js
  src/routes/DashboardRoute/Dashboard.css
  src/routes/DashboardRoute/DashboardRoute.js
  src/routes/MealRoute/MealRoute.js
  src/services/helper.services.js
Labels: User Stories

#54 css modal
  src/components/Symptom/Symptom.css
  src/components/Symptom/Symptom.js
  src/config.js
  src/routes/DashboardRoute/Dashboard.css
  src/routes/DashboardRoute/DashboardRoute.js
  src/routes/MealRoute/MealRoute.js
Labels: CSS

#61 results style
  package-lock.json
  src/components/Result/Result.css
  src/components/Result/Result.js
  src/routes/DashboardRoute/Dashboard.css
Labels: CSS

#63 trash can
  src/routes/MealRoute/MealRoute.css
Labels: CSS

#77 responsive header mobile, tablet, desktop
  src/components/Header/Header.css
  src/routes/RegistrationRoute/RegistrationRoute.css
Labels: CSS

#82 landing page responsive phone, tablet, desktop
  src/routes/RegistrationRoute/RegistrationRoute.css
Labels: CSS

#85 fixed login form buttom
  src/components/LoginForm/LoginForm.css
Labels: CSS, bug
